# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Environments
.env 
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store

# Byte-compiled / optimiezd / DLL files 
__pycache__
*.py[cod]
+$py.class 

# C extentions 
*.so

# Distribution / packaging 
.Python 
build/
develop-eggs/
dist/